In [1]:
import pandas as pd
import seaborn as sns
import re

In [92]:
path_to_file = '5_data.csv.zip'
retail = pd.read_csv(path_to_file, encoding='ISO-8859-1', compression='zip')
retail_columns = retail.columns

In [19]:
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [20]:
retail.shape

(541909, 8)

In [22]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [75]:
######################################################################################################################

In [76]:
# Записать названия колонок в retail_columns

In [27]:
retail_columns = retail.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [74]:
######################################################################################################################

In [29]:
# Посмотреть сколько есть дубликатов и удалить из retail

In [31]:
retail.loc[retail.duplicated()].shape

(5268, 8)

In [93]:
retail = retail.drop_duplicates()

In [73]:
######################################################################################################################

In [71]:
# Данные содержат в себе записи как об успешных транзакциях, так и об отмененных
# Если пользователь отменил заказ, в начале номера транзакции (InvoiceNo) ставится C (canceled). 
# Сколько всего транзакций отменили пользователи?
# Каждый отдельный тип продукта считайте за отдельную транзакцию - уникальные номера считать не надо.

In [97]:
retail[retail['InvoiceNo'].str.startswith('C')].StockCode.count()

9251

In [45]:
# Из разбора урока

In [56]:
retail.InvoiceNo.str[0] # Возращает первый символ
retail.InvoiceNo.str[0].unique() # Возращает список с уникальными первыми символами
retail.loc[retail.InvoiceNo.str[0] == 'C'].shape # Фильтруем по нужному значению и возвращаем количество значений

(9251, 8)

In [72]:
######################################################################################################################

In [57]:
# Теперь отфильтруйте данные и оставьте в retail только те заказы, где Quantity > 0
# В качестве ответа укажите число оставшихся строк

In [98]:
retail = retail.loc[retail.Quantity > 0]

In [60]:
# Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany)
# Оставьте только тех, кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль
# Запишите полученные id пользователей в germany_top (не весь датафрейм, только id)

In [136]:
retail_germany = retail.loc[retail.Country.str.contains('Germany')] \
                        .drop_duplicates(subset='InvoiceNo') \
                        .groupby('CustomerID', as_index=False) \
                        .agg({'InvoiceNo': 'count'})
N = retail_germany.quantile(q=0.8).InvoiceNo
germany_top = retail_germany.query('InvoiceNo > @N').CustomerID

3     12471.0
6     12474.0
8     12476.0
12    12481.0
16    12500.0
26    12524.0
37    12569.0
44    12600.0
51    12619.0
52    12621.0
56    12626.0
64    12647.0
69    12662.0
77    12705.0
78    12708.0
79    12709.0
81    12712.0
83    12720.0
Name: CustomerID, dtype: float64

In [134]:
retail.loc[retail.Country.str.contains('Germany')] \
                        .drop_duplicates(subset='InvoiceNo')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
5063,536840,22961,JAM MAKING SET PRINTED,12,12/2/2010 18:27,1.45,12738.0,Germany
5360,536861,22149,FELTCRAFT 6 FLOWER FRIENDS,6,12/3/2010 10:44,2.10,12427.0,Germany
6602,536967,POST,POSTAGE,1,12/3/2010 12:57,18.00,12600.0,Germany
6965,536983,22331,WOODLAND PARTY BAG + STICKER SET,8,12/3/2010 14:30,1.65,12712.0,Germany
...,...,...,...,...,...,...,...,...
537403,581266,23561,SET OF 6 RIBBONS PARTY,12,12/8/2011 11:25,2.89,12621.0,Germany
541199,581494,23084,RABBIT NIGHT LIGHT,24,12/9/2011 10:13,1.79,12518.0,Germany
541718,581570,22141,CHRISTMAS CRAFT TREE TOP ANGEL,6,12/9/2011 11:59,2.10,12662.0,Germany
541755,581574,22326,ROUND SNACK BOXES SET OF4 WOODLAND,6,12/9/2011 12:09,2.95,12526.0,Germany
541768,581578,POST,POSTAGE,3,12/9/2011 12:16,18.00,12713.0,Germany