In [1]:
import pandas as pd

In [20]:
bikes_Q1 = pd.read_csv('bikes_q1_sample.csv')

In [21]:
bikes_Q1['start_time'] = pd.to_datetime(bikes_Q1['start_time'])
bikes_Q1 = bikes_Q1.set_index('start_time')

In [30]:
max_rent = bikes_Q1.resample(rule='D').count().trip_id.max()

In [31]:
# другой сет данных

In [49]:
bikes_april = pd.read_csv('bikes_april.csv', parse_dates=['start_time']).set_index('start_time')

In [53]:
bikes_april_Subscriber = bikes_april.query('usertype == "Subscriber"')
bikes_april_Subscriber.resample(rule='D').count().query('start_time == "2018-04-18"')

,trip_id,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,
2018-04-18,2196,2196,2196,2196,2196,2196,2196,2196,2196,2193,2196

In [56]:
# объединяем данные q2

In [60]:
q2 = pd.concat([
    pd.read_csv('bikes_q2_sample_apr.csv'),
    pd.read_csv('bikes_q2_sample_jun.csv'),
    pd.read_csv('bikes_q2_sample_may.csv')])

In [55]:
# объединяем данные q3

In [67]:
q3 = pd.concat([
    pd.read_csv('bikes_q3_sample_july.csv'),
    pd.read_csv('bikes_q3_sample_aug.csv'),
    pd.read_csv('bikes_q3_sample_sep.csv')])

In [57]:
# объединяем данные q4

In [66]:
q4 = pd.concat([
    pd.read_csv('bikes_q4_sample_oct.csv'),
    pd.read_csv('bikes_q4_sample_nov.csv'),
    pd.read_csv('bikes_q4_sample_dec.csv')])

In [68]:
# объединяем все

In [69]:
bikes = pd.concat([q2, q3, q4])

In [112]:
# делаем start_time индексом и переводим to_datetime

In [75]:
bikes.index = pd.to_datetime(bikes['start_time'])

In [113]:
# группируем по usertype, по дням, транспонируем и смотрим когда Customer больше чем Subscriber

In [111]:
bikes.groupby('usertype') \
     .resample(rule='D').size() \
     .T \
     .query('Customer > Subscriber')

usertype    Customer  Subscriber
start_time
2018-05-27      3263        2449
2018-09-02      2752        2183

In [135]:
# отбираем только лето

In [191]:
bikes_summer = bikes.query('"2018-06-01" < start_time < "2018-08-31"')

In [136]:
# вычисляем самый популярный пункт

In [155]:
top_destination = bikes_summer.to_station_name.value_counts().idxmax()

In [137]:
# определить в какой день top_destination было меньше всего поездок

In [167]:
bad_day = bikes_summer.query('to_station_name == @top_destination') \
            .size() \
            .idxmin() \
            .strftime('%Y-%m-%d')

In [179]:
bikes_summer.index = bikes_summer.index.day_name()

In [197]:
bikes_summer.index = bikes_summer.index.strftime('%A')

In [198]:
bikes_summer

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
start_time,,,,,,,,,,,,
Friday,18709077,2018-06-01 00:04:40,2018-06-01 00:06:47,3155,127.0,128,Damen Ave & Chicago Ave,214,Damen Ave & Grand Ave,Subscriber,Female,1978.0
Friday,18709080,2018-06-01 00:06:08,2018-06-01 00:24:18,2807,"1,090.0",258,Logan Blvd & Elston Ave,69,Damen Ave & Pierce Ave,Customer,NaN,NaN
Friday,18709086,2018-06-01 00:08:01,2018-06-01 00:32:55,2737,"1,494.0",337,Clark St & Chicago Ave,225,Halsted St & Dickens Ave,Customer,Male,1988.0
Friday,18709091,2018-06-01 00:09:02,2018-06-01 00:19:21,6089,619.0,210,Ashland Ave & Division St,56,Desplaines St & Kinzie St,Subscriber,Male,1987.0
Friday,18709092,2018-06-01 00:09:28,2018-06-01 00:14:44,2352,316.0,240,Sheridan Rd & Irving Park Rd,303,Broadway & Cornelia Ave,Subscriber,Male,1997.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Thursday,20461112,2018-08-30 23:51:58,2018-08-31 00:00:52,4592,534.0,334,Lake Shore Dr & Belmont Ave,256,Broadway & Sheridan Rd,Subscriber,Male,1983.0
Thursday,20461116,2018-08-30 23:54:53,2018-08-31 00:00:38,3330,345.0,507,Humboldt Blvd & Armitage Ave,116,Western Ave & Winnebago Ave,Subscriber,Female,1991.0
Thursday,20461117,2018-08-30 23:54:54,2018-08-31 00:01:05,3367,371.0,56,Desplaines St & Kinzie St,186,Ogden Ave & Race Ave,Subscriber,Male,1986.0
Thursday,20461120,2018-08-30 23:56:04,2018-08-31 02:37:02,2746,"9,658.0",322,Kimbark Ave & 53rd St,247,Shore Dr & 55th St,Subscriber,Male,1998.0
Thursday,20461129,2018-08-30 23:59:05,2018-08-31 00:05:34,5710,389.0,100,Orleans St & Merchandise Mart Plaza,110,Dearborn St & Erie St,Subscriber,Male,1986.0

In [203]:
bikes_summer.groupby([bikes_summer.index, 'to_station_name']) \
            .count().trip_id.nlargest(10)

start_time  to_station_name
Saturday    Streeter Dr & Grand Ave       3461
Sunday      Streeter Dr & Grand Ave       2565
Saturday    Lake Shore Dr & North Blvd    1690
Wednesday   Streeter Dr & Grand Ave       1669
Friday      Streeter Dr & Grand Ave       1603
Monday      Streeter Dr & Grand Ave       1503
Thursday    Streeter Dr & Grand Ave       1482
Saturday    Theater on the Lake           1470
Sunday      Lake Shore Dr & North Blvd    1402
            Theater on the Lake           1388
Name: trip_id, dtype: int64