In [42]:
import pandas as pd
from io import BytesIO
import requests
import numpy as np

In [26]:
######################################################################################################################

In [25]:
# Считать данные из гугл таблиц

In [36]:
table = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(table)
data = req.content

In [37]:
df_1 = pd.read_csv(BytesIO(data))

In [38]:
df_1

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [27]:
######################################################################################################################

In [24]:
# Посчитать процент мужчик от всех посетителей сайта

In [39]:
a = (df_1.loc[df_1.gender == 'male'].users.sum() / df_1.users.sum()) * 100
a.round()

41.0

In [28]:
######################################################################################################################

In [41]:
# Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df).
# При помощи функции np.where создайте серию
# в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях
# Поместите получившуюся серию в переменную chrome_robots.

In [98]:
df_2 = pd.read_csv('7_browser.csv')

In [99]:
df_2.browser.str.contains('Chrome') * df_2.user_type.str.contains('Robots')

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/computation/expressions.py:201: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  f"evaluating in Python space because the {repr(op_str)} "

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
dtype: bool

In [100]:
chrome_robots = pd.Series(np.where(df_2.browser.str.contains('Chrome') * df_2.user_type.str.contains('Robots'), 1, 0))

In [28]:
######################################################################################################################

In [ ]:
# У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски
# Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

# ad_id – id объявления
# user_id – id пользователя
# click_type – тип клика (клик по заголовку объявления, клик по центру)
# Данные сохранены в переменную df.

In [93]:
sample_ads = 'sample_ads.csv'

In [103]:
df = pd.read_csv(sample_ads)

In [109]:
df

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [141]:
not_nan_count = df.click_type.notna().sum()

In [28]:
######################################################################################################################

In [142]:
# В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:
# при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
# если это получилось – добавьте преобразованное значение  в список new_list

In [144]:
lst = [1, abs, 2, 3, 4]
new_list = []
for i in lst:
    try:
        i = int(i)
        new_list.append(i)
    except:
        continue

In [28]:
######################################################################################################################

In [145]:
# А теперь попробуем воспользоваться знаниями использования Telegram API
# Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [148]:
# @karpov_gaybadulin_bot

In [28]:
######################################################################################################################

In [28]:
######################################################################################################################

In [28]:
######################################################################################################################

In [28]:
######################################################################################################################

In [28]:
######################################################################################################################