In [1]:
import pandas as pd

In [5]:
# таблица с уникальными идентификаторами пользователей

users = pd.read_csv('olist_customers_dataset.csv')

customer_id — позаказный идентификатор пользователя \
customer_unique_id —  уникальный идентификатор пользователя  (аналог номера паспорта) \
customer_zip_code_prefix —  почтовый индекс пользователя \
customer_city —  город доставки пользователя \
customer_state —  штат доставки пользователя \

In [6]:
# таблица заказов

orders = pd.read_csv('olist_orders_dataset.csv')

order_id —  уникальный идентификатор заказа (номер чека) \
customer_id —  позаказный идентификатор пользователя \
order_status —  статус заказа \
order_purchase_timestamp —  время создания заказа \
order_approved_at —  время подтверждения оплаты заказа \
order_delivered_carrier_date —  время передачи заказа в логистическую службу \
order_delivered_customer_date —  время доставки заказа \
order_estimated_delivery_date —  обещанная дата доставки

Уникальные статусы заказов в таблице olist_orders_dataset:

created —  создан \
approved —  подтверждён \
invoiced —  выставлен счёт \
processing —  в процессе сборки заказа \
shipped —  отгружен со склада \
delivered —  доставлен пользователю \
unavailable —  недоступен \
canceled —  отменён

In [19]:
# товарные позиции, входящие в заказы

positions = pd.read_csv('olist_order_items_dataset.csv')

order_id —  уникальный идентификатор заказа (номер чека) \
order_item_id —  идентификатор товара внутри одного заказа \
product_id —  ид товара (аналог штрихкода) \
seller_id — ид производителя товара \
shipping_limit_date —  максимальная дата доставки продавцом для передачи заказа партнеру по логистике \
price —  цена за единицу товара \
freight_value —  вес товара \

In [10]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [17]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [18]:
orders.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,9e5c76fbc358dc58156586a03f9fa07f,ef33214305d9a4bacb50f9ee88b3a89e,delivered,2018-06-01 13:39:44,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 19:36:48,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

Сколько всего заказов по каждому статусу

In [20]:
orders.groupby('order_status', as_index=False).agg({'order_id': 'count'})

  order_status  order_id
0     approved         2
1     canceled       625
2      created         5
3    delivered     96478
4     invoiced       314
5   processing       301
6      shipped      1107
7  unavailable       609

Если обещанная дата доставки раньше чем фактическая

In [23]:
orders.query('order_estimated_delivery_date < order_delivered_customer_date') \
      .groupby('order_status', as_index=False).agg({'order_id': 'count'})

  order_status  order_id
0     canceled         1
1    delivered      7826

Если обещанная дата доставки позже чем фактическая

In [24]:
orders.query('order_estimated_delivery_date > order_delivered_customer_date') \
      .groupby('order_status', as_index=False).agg({'order_id': 'count'})

  order_status  order_id
0     canceled         5
1    delivered     88644