In [8]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('HH_data_DA.csv', sep=';')

In [13]:
df.groupby(['direction','area_name']).agg({'vacancy_id': 'count'})

                                           vacancy_id
direction                       area_name
Analytics                       Алматы             90
                                Апрелевка           1
                                Армения             2
                                Атырау              8
                                Балашиха            1
...                                               ...
Data science / Machine Learning Сочи                1
                                Ульяновск           1
                                Уругвай             1
                                Уфа                 7
                                Хабаровск           1

[278 rows x 1 columns]