In [1]:
import pandas as pd
import re

In [131]:
data = pd.read_csv('gff.tsv', sep='\t')
data.head()

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1

In [51]:
######################################################################################################################

In [52]:
# Написать функцию вытягивающую из attributes все значения Parent

In [145]:
def func_parent(attributes):
    for i in attributes:
        if i.startswith('Parent='):
            a = i.split('=')
            b = a[-1]
            break
        else:
            continue
    return b

In [173]:
data['parent'] = data.attributes.str.split(';').apply(lambda x: func_parent(x)).str.strip(',')

In [180]:
data.head()

,seq_id,source,type,start,end,score,strand,phase,attributes,parent,parent_2,parent_3
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1,XM_001475631.1,XM_001475631.1,XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...,XM_001475631.1,XM_001475631.1,XM_001475631.1
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...,XM_001475631.1,XM_001475631.1,XM_001475631.1
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1,XM_001475631.1,XM_001475631.1,XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1,XM_001475631.1,XM_001475631.1,XM_001475631.1

In [53]:
######################################################################################################################

In [54]:
# Какое значение атрибута Parent самое частое?

In [151]:
data.parent.value_counts()

XM_001475631.1              309
XM_001475631.1,             170
NC_000083.5:LOC100040603     33
Name: parent, dtype: int64

In [152]:
######################################################################################################################

In [153]:
# Какое самое частое значение в колонке type

In [154]:
data.type.value_counts()

exon               201
CDS                170
five_prime_UTR      47
mRNA                33
three_prime_UTR     32
protein             29
Name: type, dtype: int64

In [155]:
######################################################################################################################

In [156]:
# вытащить через регулярные выражения

In [178]:
data['parent_2'] = data.attributes.str.extract(r'Parent=(?P<parent>[\w\.]+)')

In [155]:
######################################################################################################################

In [164]:
# Через str

In [166]:
def find_parent(attributes):
    for i in attributes:
        if i.startswith('Parent='):
            return i

In [179]:
data['parent_3'] = data.attributes.str.split(';') \
               .apply(find_parent) \
               .str.split('=') \
               .str[1] \
               .str.strip(',')