In [1]:
import pandas as pd
import seaborn as sns
import re

In [40]:
path_to_file = '5_data.csv.zip'
retail = pd.read_csv(path_to_file, encoding='ISO-8859-1', compression='zip')
retail_columns = retail.columns

In [3]:
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [4]:
retail.shape

(541909, 8)

In [5]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
######################################################################################################################

In [7]:
# Записать названия колонок в retail_columns

In [8]:
retail_columns = retail.columns

In [9]:
######################################################################################################################

In [10]:
# Посмотреть сколько есть дубликатов и удалить из retail

In [35]:
retail.loc[retail.duplicated()].sum()

InvoiceNo      0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
UnitPrice      0.0
CustomerID     0.0
Country        0.0
dtype: float64

In [38]:
retail.shape

(526054, 8)

In [12]:
retail = retail.drop_duplicates()

In [13]:
######################################################################################################################

In [14]:
# Данные содержат в себе записи как об успешных транзакциях, так и об отмененных
# Если пользователь отменил заказ, в начале номера транзакции (InvoiceNo) ставится C (canceled). 
# Сколько всего транзакций отменили пользователи?
# Каждый отдельный тип продукта считайте за отдельную транзакцию - уникальные номера считать не надо.

In [15]:
retail[retail['InvoiceNo'].str.startswith('C')].StockCode.count()

9251

In [16]:
# Из разбора урока

In [17]:
retail.InvoiceNo.str[0] # Возращает первый символ
retail.InvoiceNo.str[0].unique() # Возращает список с уникальными первыми символами
retail.loc[retail.InvoiceNo.str[0] == 'C'].shape # Фильтруем по нужному значению и возвращаем количество значений

(9251, 8)

In [18]:
######################################################################################################################

In [19]:
# Теперь отфильтруйте данные и оставьте в retail только те заказы, где Quantity > 0
# В качестве ответа укажите число оставшихся строк

In [20]:
retail = retail.loc[retail.Quantity > 0]

In [21]:
# Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany)
# Оставьте только тех, кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль
# Запишите полученные id пользователей в germany_top (не весь датафрейм, только id)

In [22]:
retail_germany = retail.loc[retail.Country.str.contains('Germany')] \
                        .drop_duplicates(subset='InvoiceNo') \
                        .groupby('CustomerID', as_index=False) \
                        .agg({'InvoiceNo': 'count'})
N = retail_germany.quantile(q=0.8).InvoiceNo
germany_top = retail_germany.query('InvoiceNo > @N').CustomerID

In [23]:
# Отфильтровать Используя объект с id пользователей (germany_top), полученный на предыдущем шаге, 
# отфильтруйте наблюдения и оставьте в данных записи только по интересующим нас юзерам
# Результирующий датафрейм запишите в top_retail_germany

In [24]:
germany_top

3     12471.0
6     12474.0
8     12476.0
12    12481.0
16    12500.0
26    12524.0
37    12569.0
44    12600.0
51    12619.0
52    12621.0
56    12626.0
64    12647.0
69    12662.0
77    12705.0
78    12708.0
79    12709.0
81    12712.0
83    12720.0
Name: CustomerID, dtype: float64

In [25]:
######################################################################################################################

In [26]:
# Вывести фрейм с отобранным germany_top

In [27]:
retail.query('CustomerID in @germany_top')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541726,581570,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,12/9/2011 11:59,4.95,12662.0,Germany
541727,581570,23077,DOUGHNUT LIP GLOSS,20,12/9/2011 11:59,1.25,12662.0,Germany
541728,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
541729,581570,22505,MEMO BOARD COTTAGE DESIGN,4,12/9/2011 11:59,4.95,12662.0,Germany
541730,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany

In [28]:
retail.merge(germany_top, how='inner', on='CustomerID')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
2,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
3,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
4,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
4170,581184,22221,CAKE STAND LOVEBIRD 2 TIER PINK,6,12/7/2011 16:24,2.95,12569.0,Germany
4171,581184,22475,SKULL DESIGN TV DINNER TRAY,8,12/7/2011 16:24,1.95,12569.0,Germany
4172,581184,22776,SWEETHEART 3 TIER CAKE STAND,2,12/7/2011 16:24,9.95,12569.0,Germany
4173,581184,POST,POSTAGE,2,12/7/2011 16:24,18.00,12569.0,Germany
4174,581184,22220,CAKE STAND LOVEBIRD 2 TIER WHITE,6,12/7/2011 16:24,2.95,12569.0,Germany

In [29]:
######################################################################################################################

In [30]:
# Сгруппируйте top_retail_germany по коду товара (StockCode)
# Какой из продуктов добавляли в корзину чаще всего, кроме POST?

In [31]:
top_retail_germany.groupby('StockCode').agg({'Quantity': 'count'}).sort_values('Quantity')

NameError: name 'top_retail_germany' is not defined

In [ ]:
######################################################################################################################

In [ ]:
# Вернемся к анализу полного датасета retail
# Создайте колонку Revenue с суммой покупки, используя колонки Quantity и UnitPrice.

In [ ]:
retail = retail.assign(Revenue = retail.Quantity * retail.UnitPrice)

In [ ]:
retail.query('Revenue < 0')

In [ ]:
######################################################################################################################

In [ ]:
# Для каждой транзакции (InvoiceNo), посчитайте финальную сумму заказа
# В качестве ответа укажите топ-5 (InvoiceNo) по сумме заказа (через запятую с пробелом и в порядке убывания TotalRevenue)

In [ ]:
retail.groupby('InvoiceNo', as_index=False) \
.agg({'Revenue': 'sum'}) \
.sort_values('Revenue', ascending=False) \
.head(5).InvoiceNo.values